@media (max-width: 1200px) {
  #content {
    margin-left: 10rem;
    margin-right: 1rem;
  }
}
@media (max-width: 992px) {
  #content {
    margin-left: 8rem;
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  #content {
    margin-left: 0rem;
    margin-right: 1rem;
  }
  .navbar {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  #content {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .navbar {
    font-size: 0.9rem;
  }
}
